body {
  background-color: #1e1f3f;
  color: rgb(215, 204, 36);
}

.logo {
	height: 256px;
	display: block;
	padding-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.tagline {
	margin-top: 30px;
}

.jumbotron {
  margin-top: 30px;
  margin-left: 15%;
  margin-right: 15%;
  background-color: rgba(16, 16, 42, 1);
}